@font-face {
  font-family: "Google Sans";
  src: url("C:\Users\sharm\OneDrive\Documents\7. REACT\newsapp\public\fonts\GoogleSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Google Sans", sans-serif;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
